/*  Importing font face */
@font-face {
  font-family: "libelSuit";
  src: url(./ressources/font/libel_suit/libel-suit-rg.otf) format("truetype");
}
@font-face {
  font-family: "Overlock";
  src: url(./ressources/font/Overlock/Overlock-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "Marcellus";
  src: url(./ressources/font/Marcellus/Marcellus-Regular.ttf) format("truetype");
}

/* Utilities */
.mainFontFam{
  font-family: "libelSuit";
}
.secondaryFontFam{
  font-family: "Overlock";
}
.thirdFontFam{
  font-family: "Marcellus";
}
.cadre{
  color:rgb(69, 63, 63);
  opacity: .9;
  padding:15px;
  border-radius: 15px;
}
.bg-orange{
  background-color:rgba(241, 147, 3, 1);
}
.bg-grey{
  background-color: rgba(187, 187, 187, 1); 
}
.bg-grey-small-opacity{
  background-color: rgba(187, 187, 187, .7); 
}
.bg-grey-navbar{
  background-color: rgba(187, 187, 187, 1);
  opacity: .9;
  border: 1px solid rgba(0, 0, 0, 0.48);
  border-radius: 0 0 15px 15px;
}

.btn-orange{
  background-color: rgba(241, 147, 3,1);
  border-color: rgb(208, 126, 3);
  border: 1px solid;
}

.btn-orange:hover{
  color: white;
  background-color: rgb(159, 98, 7);
  border-color: rgb(66, 40, 3);
  border: 1px solid;
}

.row-separate{
  height: 5px;
  background-color: white;
  margin-left: 25px;
  margin-right: 25px;
}

/* Precise CSS */
#mainImage{
  background-image: url(./ressources/installation1.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#mainText{
  text-align: center;
  padding: 10px 30px 10px 30px;
}


/* Media queries */
@media screen and (min-width:991px) {
  .cadre{
    color:rgb(69, 63, 63);
    opacity: .9;
    min-height: 400px;
    padding:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    border-radius: 15px;
  }
  #imgStage{
    background-image: url(./ressources/stages.jpg);
    height: 50%;
    width: 85%;
    background-position: center;
    background-size: cover;
  }
  #imgSport{
    background-image: url(./ressources/sports.jpeg);
    height: 50%;
    width: 85%;
    background-position: center;
    background-size: cover;
  }
  #imgSante{
    background-image: url(./ressources/santé.jpg);
    height: 50%;
    width: 85%;
    background-position: center;
    background-size: cover;
  }
}