/*  Importing font face */
@font-face {
  font-family: "libelSuit";
  src: url(./ressources/font/libel_suit/libel-suit-rg.otf) format("truetype");
}
@font-face {
  font-family: "Overlock";
  src: url(./ressources/font/Overlock/Overlock-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "Marcellus";
  src: url(./ressources/font/Marcellus/Marcellus-Regular.ttf) format("truetype");
}

a{
  color:black;
  text-decoration : none;
}
main{
  min-height: 100vh;
}

/* Utilities */
.mainFontFam{
  font-family: "libelSuit";
}
.secondaryFontFam{
  font-family: "Overlock";
}
.thirdFontFam{
  font-family: "Marcellus";
}
.cadre{
  color:rgb(69, 63, 63);
  opacity: .9;
  padding:15px;
  border-radius: 15px;
}
.bg-orange{
  background-color:rgba(241, 147, 3, 1);
}
.bg-grey{
  background-color: rgba(187, 187, 187, 1); 
}
.bg-grey-small-opacity{
  background-color: rgba(187, 187, 187, .7); 
}
.bg-grey-navbar{
  background-color: rgba(187, 187, 187, 1);
  opacity: .9;
  border: 1px solid rgba(0, 0, 0, 0.48);
  border-radius: 0 0 15px 15px;
}

.btn-orange{
  background-color: rgba(241, 147, 3,1);
  border-color: rgb(208, 126, 3);
  border: 1px solid;
}

.btn-orange:hover{
  color: white;
  background-color: rgb(159, 98, 7);
  border-color: rgb(66, 40, 3);
  border: 1px solid;
}

.row-separate{
  height: 5px;
  background-color: white;
  margin-left: 25px;
  margin-right: 25px;
}

.img-cart{
  height: 20%;
}

.card-size{
  height: 100%;
}

.btn-bot{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.animateCard{
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.animateCard:hover{
  transform: translate(3px,-3px);
}
.shadow-card{
  box-shadow: 5px 10px 10px rgba(255, 255, 255, 0.603);
}

/* Precise CSS */
#mainImage{
  background-image: url(./ressources/installation1.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#mainText{
  text-align: center;
  padding: 10px 30px 10px 30px;
}
#mapGoogle{
  height: 95%;
  width: 95%;
}
#adressAsso{
  background-color: rgba(203, 199, 199, 0.235);
  color: black;
  font-size: 0.8rem;
  border-radius: 5px;
}
#adressAsso p{
  padding: 0;
  margin: 0;
}
#buttonMap::after{
  content: "\F64B";
  font-family: 'bootstrap-icons';
  margin-left:5px;
}
#phone::before{
  content: "\F5C1";
  font-family: 'bootstrap-icons';
}
#mail::before{
  content: "\F32F";
  font-family: 'bootstrap-icons';
}
#logo3S{
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: url(./ressources/logoH3S.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#facebook::before{
  content: "\F344";
  font-family: 'bootstrap-icons';
  margin-right: 3px;
}
#copyright{
  font-size: 0.7rem;
  line-height: 0.6;
}


/* Media queries */
@media screen and (min-width:991px) {
  .cadre{
    color:rgb(69, 63, 63);
    opacity: .9;
    min-height: 400px;
    padding:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    border-radius: 15px;
  }
  #imgStage{
    background-image: url(./ressources/stages.jpg);
    height: 50%;
    width: 85%;
    background-position: center;
    background-size: cover;
  }
  #imgSport{
    background-image: url(./ressources/sports.jpeg);
    height: 50%;
    width: 85%;
    background-position: center;
    background-size: cover;
  }
  #imgSante{
    background-image: url(./ressources/santé.jpg);
    height: 50%;
    width: 85%;
    background-position: center;
    background-size: cover;
  }
}